asgiref==3.7.2
crispy-bootstrap5==0.7
Django==3.2.1
django-crispy-forms==2.0
gunicorn==21.2.0
packaging==23.2
Pillow==8.2.0
psycopg2-binary==2.9.9
pytz==2023.3.post1
sqlparse==0.4.4
typing_extensions==4.6.1
whitenoise==6.5.0
dj_database_url==0.5.0
